/*==lANDI==*/
	/*==ANDI Bar==*/
	#ANDI508 #lANDI508-viewList-tabs
		{margin-left:10px;}
	#ANDI508 #lANDI508-viewList-tabs button
		{border:1px solid black; border-right:1px solid gray; 
		padding:3px 1em 3px 1em; position:relative; display:inline-block;}
	#ANDI508 #lANDI508-viewList-tabs button:hover,
	#ANDI508 #lANDI508-viewList-tabs button:focus
		{border:1px solid lemonchiffon;}
	#ANDI508 #lANDI508-viewList-tabs button.ANDI508-tab-active
		{color:#a4e8ff !important; text-decoration:underline !important; top:1px}

	#ANDI508 #ANDI508-viewList-table td i
		{visibility:hidden}
	#ANDI508 #ANDI508-viewList-table td.ANDI508-alert-column
		{padding-left:1.3em}
		
	#ANDI508 #ANDI508-viewList-table td.ANDI508-code,
	#ANDI508 #ANDI508-viewList-table td.ANDI508-code a
		{font:9pt monospace;}
	
	/*slightly lighter than normal danger color to satisfy AAA color contrast*/
	#ANDI508 #ANDI508-viewList-table tr.ANDI508-table-row-alert td a span.ANDI508-display-danger
		{color:#ff6767 !important;}
		
	#ANDI508 #ANDI508-viewList-table button.lANDI508-nextTab
		{font-size: 7pt; border:1px solid gray; border-radius:5px; padding:1px;}
		
	#ANDI508 #lANDI508-viewList-button-prev,
	#ANDI508 #lANDI508-viewList-button-next
		{border:1px solid black !important; margin:1px 1px 2px 0.6em !important; padding:0 !important; border-radius:3px !important;}
	#ANDI508 #lANDI508-viewList-button-prev:hover,
	#ANDI508 #lANDI508-viewList-button-next:hover
		{border:1px solid lemonchiffon !important;}
	#ANDI508 #lANDI508-viewList-button-prev img,
	#ANDI508 #lANDI508-viewList-button-next img
		{width:22px}

	/*=Test Page=*/
	#ANDI508-testPage.lANDI508-testPage .ANDI508-element.ANDI508-highlight.ANDI508-element-danger
		{outline:3px dashed #df3131 !important;}
	#ANDI508-testPage.lANDI508-testPage .ANDI508-element.ANDI508-highlight.ANDI508-element-active
		{outline:4px solid deeppink !important;}
	#ANDI508-testPage.lANDI508-testPage .ANDI508-element.ANDI508-highlight
		{outline:1px dashed #409ece !important; animation:pulse_lANDI 3s infinite;}
		@keyframes pulse_lANDI{
			50% {outline-color:#015f8f !important;}
		}
		
	#ANDI508-testPage.lANDI508-testPage .lANDI508-anchorTarget
		{padding-right:1px !important; /*to make anchor targets with no innertext show up*/}
		
	#ANDI508-testPage.lANDI508-testPage.lANDI508-highlightAmbiguous .lANDI508-ambiguous
		{border:2.5px solid #6565e4 !important; box-shadow:0 0 25px 1px #6565e4 !important}
		
	#ANDI508-testPage.lANDI508-testPage.lANDI508-highlightInternal a.ANDI508-element.lANDI508-internalLink
		{border:2.5px solid #8787fe !important; box-shadow:0 0 25px 1px #8787fe !important}
		
	#ANDI508-testPage.lANDI508-testPage.lANDI508-highlightExternal a.ANDI508-element.lANDI508-externalLink
		{border:2.5px solid #4d9dc8 !important; box-shadow:0 0 25px 1px #4d9dc8 !important}
