/*==hANDI==*/
	/*==ANDI Bar==*/
	#ANDI508 #lANDI508-viewList-tabs
		{margin-left:10px;}
	#ANDI508 #lANDI508-viewList-tabs button
		{border:1px solid black; border-right:1px solid gray; 
		padding:3px 1em 3px 1em; position:relative; display:inline-block;}
	#ANDI508 #lANDI508-viewList-tabs button:hover,
	#ANDI508 #lANDI508-viewList-tabs button:focus
		{border:1px solid lemonchiffon;}
	#ANDI508 #lANDI508-viewList-tabs button.ANDI508-tab-active
		{color:#a4e8ff !important; text-decoration:underline !important; top:1px}

	#ANDI508 #ANDI508-viewList-table td i
		{visibility:hidden}
	#ANDI508 #ANDI508-viewList-table td.ANDI508-alert-column
		{padding-left:1.3em}
		
	#ANDI508 #ANDI508-viewList-table td.ANDI508-code,
	#ANDI508 #ANDI508-viewList-table td.ANDI508-code a
		{font:9pt monospace;}
	
	/*slightly lighter than normal danger color to satisfy AAA color contrast*/
	#ANDI508 #ANDI508-viewList-table tr.ANDI508-table-row-alert td a span.ANDI508-display-danger
		{color:#ff6767 !important;}
		
	#ANDI508 #ANDI508-viewList-table button.lANDI508-nextTab
		{font-size: 7pt; border:1px solid gray; border-radius:5px; padding:1px;}
		
	#ANDI508 #lANDI508-viewList-button-prev,
	#ANDI508 #lANDI508-viewList-button-next
		{border:1px solid black !important; margin:1px 1px 2px 0.6em !important; padding:0 !important; border-radius:3px !important;}
	#ANDI508 #lANDI508-viewList-button-prev:hover,
	#ANDI508 #lANDI508-viewList-button-next:hover
		{border:1px solid lemonchiffon !important;}
	#ANDI508 #lANDI508-viewList-button-prev img,
	#ANDI508 #lANDI508-viewList-button-next img
		{width:22px}

	#ANDI508 #ANDI508-accessibleComponentsTableContainer,
	#ANDI508 #ANDI508-outputContainer
		{display:none !important;}

	#ANDI508 #ANDI508-additionalElementDetails
		{display:block;}

	#ANDI508 #ANDI508-additionalElementDetails span.ANDI508-code
		{font:10pt monospace;}
		
	/*=Test Page=*/
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal
		{border:1px #864752 !important; box-shadow:0 0 25px 1px #c2838e !important}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-display
		{display:inline-block !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-visibility
		{visibility:visible !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-position
		{position:static !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-opacity
		{opacity:1 !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-overflow
		{height:auto !important; width:auto !important; overflow:visible !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-fontSize
		{font-size:11pt !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-textIndent
		{text-indent:0 !important;}
		
	#ANDI508-testPage .ANDI508-element.ANDI508-highlight
		{outline:0 !important;}
		
	#ANDI508-testPage.hANDI508-highlightCssContent .hANDI508-hasHiddenCssContent:before,
	#ANDI508-testPage.hANDI508-highlightCssContent .hANDI508-hasHiddenCssContent:after
		{outline:1px solid #ef0000 !important; box-shadow:0 0 20px 1px #ef0000 !important}

	#ANDI508-testPage.hANDI508-highlightCssContent .hANDI508-hasHiddenCssContent:before,
	#ANDI508-testPage.hANDI508-highlightCssContent .hANDI508-hasHiddenCssContent:after
		{box-shadow:0 0 20px 4px #ef0000 !important;}
	#ANDI508-testPage .ANDI508-highlight.ANDI508-element-active.ANDI508-element.hANDI508-hasHiddenCssContent
		{outline:4px solid deeppink !important;}
		