/*==hANDI==*/
	/*==ANDI Bar==*/
	#ANDI508 #ANDI508-accessibleComponentsTableContainer,
	#ANDI508 #ANDI508-outputContainer
		{display:none !important;}

	#ANDI508 #ANDI508-additionalElementDetails
		{display:block;}

	#ANDI508 #ANDI508-additionalElementDetails span.ANDI508-code
		{font:10pt monospace;}

	/*=Test Page=*/
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal
		{border:1px #864752 !important; box-shadow:0 0 25px 1px #c2838e !important}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-display
		{display:inline-block !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-visibility
		{visibility:visible !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-position
		{position:static !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-opacity
		{opacity:1 !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-overflow
		{height:auto !important; width:auto !important; overflow:visible !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-fontSize
		{font-size:11pt !important;}
	#ANDI508-testPage.hANDI508-testPage .ANDI508-forceReveal.ANDI508-forceReveal-textIndent
		{text-indent:0 !important;}

	#ANDI508-testPage .ANDI508-element.ANDI508-highlight
		{outline:0 !important;}

	#ANDI508-testPage.hANDI508-highlightCssContent .hANDI508-hasHiddenCssContent:before,
	#ANDI508-testPage.hANDI508-highlightCssContent .hANDI508-hasHiddenCssContent:after
		{outline:1px solid #ef0000 !important; box-shadow:0 0 20px 1px #ef0000 !important}

	#ANDI508-testPage.hANDI508-highlightCssContent .hANDI508-hasHiddenCssContent:before,
	#ANDI508-testPage.hANDI508-highlightCssContent .hANDI508-hasHiddenCssContent:after
		{box-shadow:0 0 20px 4px #ef0000 !important;}
	#ANDI508-testPage .ANDI508-highlight.ANDI508-element-active.ANDI508-element.hANDI508-hasHiddenCssContent
		{outline:4px solid deeppink !important;}

	#ANDI508-testPage.hANDI508-highlightAriaHidden [aria-hidden=true]
		{box-shadow:0 0 20px 4px #5c1088 !important;}
