#ANDI508 #ANDI508-outputText
	{background-image: url(icons/output18x18.png) !important;}
#ANDI508-laser-container
	{height:0px; width:0px;}

#ANDI508-testPage.gANDI508-testPage.gANDI508-fadeInline img.ANDI508-element,
#ANDI508-testPage.gANDI508-testPage.gANDI508-fadeInline input[type=image].ANDI508-element,
#ANDI508-testPage.gANDI508-testPage.gANDI508-fadeInline .ANDI508-element img
	{filter: alpha(opacity=30) !important; /*no support for opacity*/}
	
#ANDI508-testPage.gANDI508-testPage.gANDI508-hideBackground .lANDI508-background
	{filter: alpha(opacity=30) !important; /*no support for opacity*/}

#ANDI508 #ANDI508-moduleMenu button:hover,
#ANDI508 #ANDI508-moduleMenu button:focus
	{border:1px solid lemonchiffon !important;}